<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Login Page
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Login Page</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <div class="ion-text-center">
        <ion-card-subtitle>{{formNotf}}</ion-card-subtitle>
      </div>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <ion-row class="ion-justify-content-center">
            <ion-col class="ion-align-self-center">
              <ion-input placeholder="Enter Username" id="username" type="text" formControlName="username" required></ion-input>
            </ion-col>
          </ion-row>
          <ion-row class="ion-justify-content-center">
            <ion-col class="ion-align-self-center">
              <ion-input placeholder="Enter Password" id="password" type="text" formControlName="password" required></ion-input>
            </ion-col>
          </ion-row>
          <ion-row class="ion-justify-content-center">
            <ion-col class="ion-align-self-center">
              <ion-button type="submit" color="primary" fill="outline" expand="block">Login</ion-button>
            </ion-col>
          </ion-row>
        </form>
        <ion-row class="ion-justify-content-center">
          <ion-col class="ion-align-self-center">
            <div class="ion-text-center">
              <ion-text color="secondary" routerLink="/register" routerLinkActive="active">No Account Yet ? click here</ion-text>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="userData.length > 0">
    <ion-card-header>
      <div class="ion-text-center">
        <ion-card-subtitle>Data User</ion-card-subtitle>
      </div>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
          <ion-row class="ion-justify-content-center">
            <ion-col class="ion-align-self-center">
              <ion-text>User ID : {{userData[0]}}</ion-text>
            </ion-col>
          </ion-row>
          <ion-row class="ion-justify-content-center">
            <ion-col class="ion-align-self-center">
              <ion-text>User Name : {{userData[1]}}</ion-text>
            </ion-col>
          </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>
